/.htaccess
/db.ini
/files-dev
/files
/plugins/Dropbox/files
!/files/.htaccess
/application/logs/errors.log
/application/logs/
!/application/logs/.htaccess
.DS_Store

# Preferences for PhpStorm
.idea

# Preferences for Visual Studio Code
.vscode

# Solr XML
online-exhibits.xml

# Lando configuration
.lando.yml

# In case a db dump is stored with the codebase
lamp.*.sql
