/* Configurable: These are the styles that change when you switch stylesheets == These are the GreenStripe.css settings */
body{background: url('../images/greenlit.jpg') no-repeat fixed 50% 0% #000;}
#primary-nav{background:none transparent;border-bottom:none;}
#primary-nav a{text-shadow: 0 1px 1px #222;}
#footer {background:none transparent;text-shadow: 0 1px 1px #222;}
