/* Omeka MLibrary Theme - Extends Deco */

/** TABLE OF CONTENTS

  1.  =MAIN LAYOUT
  2.  =SEARCH
  3.  =BROWSE EXHIBITS

 **/

.pagination input[type="text"] {
  width: 35px;
  margin-right: 1px;
  padding-right: 1px !important;
  padding-left: 1px !important;
  text-align: right;
  border-width: 0.063em;
  border-style: solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#timelines.browse #times .time .timeline-description {
  float: left;
  width: 700px;
  padding: 7px;
  line-height: 1.5em;
}

#times .time > img {
  float: left;
  width: 91px;
  height: 100px;
  padding: 7px;
}

#timelines.browse #primary {
  float: left;
  margin-right: 30px;
}

#timelines.browse #times {
  min-height: 538px;
}

#timelines.browse #times .time.first {
  float: left;
  margin-top: 0;
  padding-top: 37px;
  border-top-width: 0;
  background: none repeat scroll 0 0 transparent;
}

#timelines.browse #times .time {
  float: left;
  margin: 0;
  padding: 2em 0;
  border: medium none;
  background: url("../images/layout/browse-border.gif") repeat-x scroll center top transparent;
}

#exhibit.summary .gallery-thumbnail .exhibit-item {
  display: inline-block;
}

.exhibit-item img {
  max-width: 75%;
  border: 1px solid #EDEDED;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.gallery-thumbnail img {
  width: 100px;
}

#tab {
  width: 100%;
  margin: 0 0 1em;
  padding: 10px 0;
  text-align: center;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #F3F3F3;
}

#tab li {
  display: inline-block;
  width: 40%;
  margin: 0 4%;
  zoom: 1;
}

#exhibit.browse #exhibits img,
body#home #recent-exhibits img {
  float: left;
  height: 100px;
  padding: 7px;
}

#exhibit.browse .exhibit > p.description,
body#home #recent-exhibits p.description {
  float: left;
  width: 600px;
  padding: 10px;
}

#exhibit.browse .exhibit > p.tags {
  clear: both;
}

/*= NICOLAS GALLAGHER 's micro-clearfix */

.cf:before,
.cf:after {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/*=MAIN LAYOUT */

html {
  background: url(../images/layout/bg-repeat-simple.jpg) center;
}

body {
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 11px; /* Fallback for IE, straight pixel value prevents user scaling on some browsers */
  font-size: 68.75%; /* 0.6875 = 11 / 16 */
}

.wrap {
  position: relative;
  width: 960px; /* Enlarge Deco's default width */
  z-index: 500;
  margin: 0 auto;
}

#exhibit.show .exhibit-text a[href] {
  padding: 7px 10px;
  /* Styles for Main Links => Copy This to other Links! */
  color: #345477;
  -webkit-transition: color 0.3s ease-in-out;
     -moz-transition: color 0.3s ease-in-out;
       -o-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
}

#exhibit.show .exhibit-text a[href]:hover {
  color: #4976A7;
}

#content {
  background-color: #96A7B7;
}

#content .wrap {
  padding: 18px;
  border-top: 0.3em solid #D3D3D3;
}

/*=HOME PAGE */

body#home #content h1 {
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}

body#home #primary {
  float: none;
  width: 100%;
  height: 400px;
}

body#home #greeting {
  float: left;
  width: 48%;
  padding-top: 4em;
}

body#home #content #primary #greeting h2 {
  padding-bottom: 0;
  font-size: 3em;
  color: #777;
  border: 0;
}

body#home #greeting h2 span {
  position: relative;
  left: -3px; /* visually align first letters */
  font-size: 2em;
  color: #597DAD;
  line-height: 1em;
}

body#home #greeting p,
body#home #greeting ul {
  font-size: 1.3em;
  color: #5F5F5F;
}

body#home #greeting p a,
body#home #greeting ul a {
  color: #324F7D;
  -webkit-transition: color 0.3s ease-in-out;
     -moz-transition: color 0.3s ease-in-out;
       -o-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
  text-decoration: none;
}

body#home #greeting p a:hover,
body#home #greeting ul a:hover {
  color: #5A99DE;
}

body#home #showcase {
  position: absolute;
  float: right;
  width: 48%;
  right: -16px;
  margin: 0;
  background: #717171 url(../images/layout/flap_borderbottom.jpg) repeat-x bottom right;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(0, 0, 0, 0.3);
}

body#home #greeting ul li {
  height: 20px;
  margin: 1em 0;
  line-height: 20px;
}

body#home #greeting ul li img {
  position: relative;
  top: -2px;
  margin-right: 0.7em;
  vertical-align: middle;
}

body#home #greeting ul li a {
  font-weight: bold;
}

body#home #content h3#featured-title {
  position: absolute;
  width: auto;
  top: 473px;
  left: 53%;
  padding: 0;
  z-index: 5000;
  font-size: 1.2em;
  color: white;
  line-height: 2em;
  letter-spacing: 0;
  text-transform: uppercase;
  background: transparent;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

body#home #featured-title span {
  font-weight: bold;
  color: #DFD69B;
}

body#home #showcase .showcase-thumbnail-container {
  height: 68px;
  bottom: -17px !important;
  padding-bottom: 17px;
  border-top: 1px solid #888;
  background: transparent url(../images/layout/sidebarRight_flap.png) no-repeat bottom right;
}

body#home #showcase .showcase-thumbnail-wrapper-horizontal .showcase-thumbnail {
  width: auto !important;
  height: auto !important;
  border: 0;
}

body#home #showcase .showcase-thumbnail-wrapper {
  width: 55% !important;
  left: 42%;
}

body#home #showcase .showcase-thumbnail,
body#home #showcase .showcase-thumbnail.active + .showcase-thumbnail.active {
  opacity: 0.5;

  filter: alpha(opacity=50);
}

body#home #showcase .showcase-thumbnail.active,
body#home #showcase .showcase-thumbnail:hover {
  opacity: 1;

  filter: alpha(opacity=100);
}

body#home #showcase .showcase-thumbnail-button-backward,
body#home #showcase .showcase-thumbnail-button-forward {
  display: none;
}

body#home #showcase .showcase-content {
  position: relative;
  height: 325px !important;
  background: url(../images/black-opacity-40.png);
}

body#home #showcase .showcase-content-wrapper {
  position: static !important;
}

body#home #showcase .showcase-content {
  text-align: center;
}

body#home #showcase .showcase-content img {
  max-width: 120%;
  max-height: 120%;
}

body#home #showcase .showcase-caption {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6px 10px 2px;
  color: white !important;
  background: url(../images/black-opacity-60.png);
  background: url(../images/black-opacity-40.png);
}

body#home #showcase .showcase-caption h4 {
  margin-bottom: 0;
  font-size: 1.6em;
  line-height: 1;
  vertical-align: center;
}

body#home #showcase .showcase-caption h4 a {
  color: white;
  text-decoration: none;
}

body#home #showcase .showcase-arrow-next {
  position: absolute;
  width: 9px;
  height: 22px;
  right: 5%;
  margin-top: 125px;
  z-index: 4000;
  background: url(../images/layout/arrow-black-right.gif) no-repeat top;
}

body#home #showcase .showcase-arrow-previous {
  position: absolute;
  width: 9px;
  height: 22px;
  left: 35%;
  margin-top: 125px;
  z-index: 4000;
  background: url(../images/layout/arrow-black-left.gif) no-repeat top;
}

body#home #showcase .showcase-arrow-next:hover,
body#home #showcase .showcase-arrow-previous:hover {
  background-position: bottom;
}

body#home #content h3 {
  width: 12em;
  margin: 0;
  padding: 0.6em 0;
  font-family: inherit;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: none;
  border: 0;
  border-bottom: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
          border-top-right-radius: 4px;
  background: #F3F3F3;
}

body#home #recent-exhibits {
  margin-top: 1.5em;
}

body#home #recent-exhibits .exhibits {
  padding: 2em 1em;
  border-top: 1px dotted #9D9D9D;
  border-bottom: 0;
}

body#home #recent-exhibits h4 {
  margin: 0;
  font-size: 1.4em;
  line-height: 1;
}

body#home #recent-exhibits h4 a {
  text-decoration: none;
}

body#home #recent-exhibits .first {
  border: 0;
}

body#home #recent-exhibits .button {
  width: 14em;
  margin: 0.5em auto;
}

body#home #recent-exhibits .button-wrap {
  width: 18em;
  margin: 0.5em auto;
  background-color: #E7E7E7;
}

body#home #legacy-exhibits .exhibit h3 {
  margin: 0 0 0.5em;
  padding: 0;
  font-family: "Myriad Pro",Arial,Helvetica,Tahoma,sans-serif;
  font-size: 1.4em;
  line-height: 1;
}

body#home #legacy-exhibits h3 {
  padding: 2em 0;
  font-size: 1.6em;
  font-weight: bold;
  border: 0;
  background: transparent;
}

/*=BROWSE EXHIBITS */

#content .wrap {
  min-height: 700px; /* TEMP - adjust for lack of content */
}

#content h1 {
  padding-bottom: 1em;
}

#exhibit.summary h1,
#exhibit.show h1 {
  position: relative;
  width: 960px;
  height: 182px;
  top: -1px;
  left: -18px;
  margin-bottom: 1.5em;
  padding: 0;
  border-bottom: 6px solid #DFD69B;
  background-repeat: no-repeat;
  background-position: top left;
}

#exhibit.summary h1 a,
#exhibit.show h1 a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;

  filter: alpha(opacity=0);
}

#content h1.default {
  background-image: url(../images/layout/default-header.jpg);
}

#content h1.default span,
#content h1.header01 span,
#content h1.header03 span,
#content h1.header02 span {
  display: inline-block;
  position: relative;
  top: 100px;
  left: 10px;
  margin: 0;
  padding: 8px 20px;
  zoom: 1;
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 80%;
  color: black;
  text-align: right;
  white-space: pre-wrap;
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

#secondary-nav {
  padding: 0;
  border-color: #DCDCDC;
  border-bottom: none;
}

#secondary-nav li {
  padding: 0;
}

#secondary-nav li a {
  display: inline-block;
  position: relative;
  top: 1px;
  padding: 0 1em;
  zoom: 1;
  border: 1px solid #ECECEC;
  border: none;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
          border-top-right-radius: 4px;
  background-color: transparent;

  *display: inline;
}

#secondary-nav li a:hover {
  border-bottom: none;
  background-color: #ECECEC;
  background-color: rgba(0,0,0,0.03);
}

#secondary-nav li.current a {
  zoom: 1;
  opacity: 1;
  border: 1px solid #ECECEC;
  border-bottom: 1px solid #F3F3F3;
  background-color: #F3F3F3;

  filter: alpha(opacity = 100);
}

#exhibit.browse #content h1,
#exhibit.tags #content h1,
#items.browse #content h1,
#items.tags #content h1,
#timelines.browse #content h1 {
  padding-bottom: 1.5em;
}

#exhibit.browse #primary {
  float: left;
  margin-right: 30px;
}

#exhibit.browse #secondary {
  position: relative;
  float: left;
  width: 460px;
}

#exhibit.browse #secondary #showcase {
  min-height: 393px; /* keeps ribbon at bottom when only 1 featured gallery */
  margin: 0 auto;
}

#exhibit.browse #secondary #showcase div[style] {
  overflow: visible !important;
  background: transparent;
}

#exhibit.browse #secondary #showcase img[style] {
  width: auto !important;
  height: auto !important;
  max-width: 460px;
  max-height: 360px;
}

#exhibit.browse #secondary #showcase div.showcase-content {
  min-height: 360px;
  overflow: visible !important;
  line-height: 360px;
}

#exhibit.browse #secondary #showcase img {
  border: 1px solid #EDEDED;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 20px rgba(40, 0, 40, 0.2);
}

#exhibit.browse #secondary #showcase img:hover {
  zoom: 1;
  opacity: 0.9;

  filter: alpha(opacity = 90);
}

#exhibit.browse #secondary #showcase img.default {
  border: none;
  box-shadow: none;
}

*#exhibit.browse .showcase-button-wrapper {
  position: relative;
  z-index: 100;
}

#exhibit.browse .showcase-button-wrapper span {
  display: -moz-inline-stack;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0 2px;
  padding: 0;
  zoom: 1;
  font-size: 0;
  line-height: 0;
  text-transform: capitalize;
  background: url(../images/layout/gallery-marker.gif) top;

  *display: inline;
}

#featured-ribbon {
  position: absolute;
  width: 180px;
  height: 26px;
  bottom: 18px;
  margin-left: 140px;
  background: url(../images/layout/featured-ribbon.png) no-repeat;
}

#exhibit.browse .showcase-button-wrapper span.active {
  background-position: bottom;
}

#exhibit.browse #showcase .showcase-caption {
  position: relative;
  top: 50px;
}

#exhibit.browse #exhibits {
  min-height: 538px;
}

#exhibit.browse #exhibits .exhibit {
  margin: 0;
  padding: 2em 0;
  border: none;
  background: url(../images/layout/browse-border.gif) top repeat-x;
}

#exhibit.browse #exhibits .first {
  background: none;
}

#exhibit.browse #exhibits .pagination {
  margin-top: 18px;
}

#exhibit.browse #exhibits .pagination li.pagination_current {
  color: #666666;
  border-radius: 10px;
  background: white;
}

#exhibit.browse #exhibits .exhibit h2,
.showcase-caption h3,
body#home #recent-exhibits h3,
#timelines.browse #times .time h2 {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 1.4em;
  line-height: 1;
  text-transform: none;
  border: 0;
  background: transparent;
}

#exhibit.browse #exhibits .exhibit h2 a,
#timelines.browse #times .time h2 a,
.showcase-caption h3 a,
#exhibit.browse #exhibits {
  color: #324F7D;
  -webkit-transition: color 0.3s ease-in-out;
     -moz-transition: color 0.3s ease-in-out;
       -o-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
}

#exhibit.browse .showcase-caption h3 {
  font-size: 1.7em;
}

#exhibit.browse .showcase-caption .description {
  margin-top: 1.5em;
}

#exhibit.browse #exhibits .exhibit h2 a:hover,
#exhibit.browse .showcase-caption h3 a:hover,
#exhibit.browse #exhibits .exhibit .tags a:hover,
#exhibit.browse #exhibits .pagination li a:hover {
  color: #A4B4CA;
}

#exhibit.browse #exhibits .exhibit .tags,
body#home #recent-exhibits .tags {
  clear: both;
  min-height: 11px;
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
  color: #F3F3F3;
  color: transparent;
  background: url(../images/layout/tag-dark.gif) no-repeat left;
}

#exhibit.browse #exhibits .exhibit .tags a,
body#home #recent-exhibits .tags a {
  padding: 0 0.5em;
  font-size: 90%;
  color: #9B9B9B;
  text-decoration: none;
  text-transform: lowercase;
}

#exhibit.browse #showcase .showcase-content img {
  line-height: 1;
  vertical-align: bottom;
}

/*=BROWSE ITEM */

#items.browse .item {
  display: inline-block;
  display: inline;
  width: 22%;
  margin: 0 1.4%;
  overflow: visible;
  zoom: 1;
  vertical-align: top;
  border-bottom: none;
}

#items.browse .item h2 {
  float: none;
  width: auto;
  font-size: 1.4em;
  line-height: 1;
}

#items.browse .item img {
  width: auto;
  height: auto;
  margin-bottom: 0.5em;
}

#items.browse .item img:hover {
  opacity: 0.8;
}

#items.browse .item div {
  width: 100%;
}

#items.browse .item div p {
  font-size: 1.1em;
}

#items.browse .item-date {
  font-style: italic;
}

#items.browse .item-creator + .item-date {
  margin-top: -1.5em;
}

#pagination-bottom {
  clear: both;
}

/*=BROWSE TAGS */

.tags ul.popularity {
  width: 75%;
  margin: 10% auto;
}

.tags ul.popularity a:hover {
  color: white;
  background-color: #A4B4CA;
}

.tags .popular a {
  display: inline-block;
  margin: 3px;
  padding: 7px;
  zoom: 1;
  -webkit-transition: background-color 0.3s ease-in-out;
     -moz-transition: background-color 0.3s ease-in-out;
       -o-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background-color: white;

  *display: inline;
}

/*=EXHIBIT SUMMARY */

#summary-view {
  padding-top: 1.5em;
}

#exhibit.summary .exhibit_image,
#exhibit.summary #summary-sidebar {
  float: right;
  width: 48%;
  margin-right: 18px;
}

#exhibit.summary .exhibit_image {
  margin-right: 0;
  text-align: center;
}

#exhibits .exhibit_image {
  float: left;
  width: 262px;
  margin-left: 18px;
  text-align: center;
}

#exhibit.summary .exhibit_image {
  margin-left: 0;
}

#exhibit.summary .exhibit_image img,
#exhibit.summary .exhibit_image iframe {
  margin-bottom: 0.8em;
}

#exhibits .exhibit_image ing {
  max-width: 262px;
  max-height: 262px;
  border: 1px solid #EDEDED;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#exhibit.summary .exhibit_image img {
  max-width: 100%;
  max-height: 300px;
  border: 1px solid #EDEDED;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#exhibit.summary #exhibit-sections {
  clear: both;
  border-top: 0 dotted  #CCC;
}

#exhibit.summary #summary-sidebar + #exhibit-sections {
  clear: both;
  padding-top: 1em;
  border-top: 1px dotted  #CCC;
}

#exhibit.summary #primary h2.credits {
  margin: 0.5em 0;
  padding-bottom: 3px;
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 100%;
  text-align: left;
}

#primary h2.credits span {
  padding-right: 0.4em;
  font-weight: bold;
  font-style: italic;
  color: #A8B7CC;
}

#exhibit-sections h3 {
  margin: 0.3em 0;
}

#exhibit-sections h3 a,
#items.browse .item h2 a {
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
  color: #324F7D;
  -webkit-transition: color 0.3s ease-in-out;
     -moz-transition: color 0.3s ease-in-out;
       -o-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
}

#exhibit-sections h3 a:hover,
#items.browse .item h2 a:hover {
  color: #4976A7;
}

/*=SHARE THIS*/

#sharethis {
  position: absolute;
  height: 26px;
  top: -42px;
  right: -18px;
  padding: 3px 18px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
          border-top-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
          border-bottom-left-radius: 8px;
  background-color: #ECECEC;
}

body#items #sharethis {
  position: relative;
  width: 50%;
  top: -70px;
  right: -50%;
}

#sharethis span {
  display: inline-block;
  height: 26px;
  padding-right: 3em;
  font-size: 1em;
  vertical-align: middle;
}

#sharethis div {
  display: inline-block;
  top: -5px;
  padding: 3px;
  zoom: 1;
  line-height: 26px;

  *display: inline;
}

/*=EXHIBIT NAVIGATION */

.exhibit-overview a {
  display: block;
  position: relative;
  height: auto;
  top: -10px;
  padding: 0.5em 0;
  padding-left: 18px;
  font-size: 1.4em;
  line-height: 1.5em;
  text-decoration: none;
}

.exhibit-overview a:hover,
.exhibit-overview.active a {
  position: relative;
  color: #493F25;
  background: #DFD69B;
  -webkit-box-shadow: 2px 1px 5px rgba(0,0,0,0.15);
     -moz-box-shadow: 2px 1px 5px rgba(0,0,0,0.15);
          box-shadow: 2px 1px 5px rgba(0,0,0,0.15);
  text-shadow: 0 1px 1px rgba(255,255,255,0.3);
}

.exhibit-overview a:hover:after,
.exhibit-overview.active a:after {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: -10px;
  content: ' ';
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
          border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
          border-bottom-right-radius: 15px;
  background-color: #DFD69B;
}

#content #nav-container,
#exhibit.summary .exhibit-section-nav,
#exhibit.summary .exhibit-overview,
#exhibit.summary #exhibit-pages {
  position: relative;
  float: left;
  clear: left;
  width: 238px;
  left: -18px;
}

#content #nav-container ul li,
#primary .exhibit-section-nav ul li,
#exhibit-pages ul li {
  display: block;
  height: auto;
  border-bottom: 1px solid #DADADA;
}

ul.exhibit-page-nav {
  margin-left: 32px;
  list-style-image: url('../images/list-image.png');
}

.exhibit-section-nav li.current a,
.exhibit-page-nav li.current a,
.exhibit-section-nav li a,
#exhibit-pages li.current a,
#exhibit-pages li a {
  display: list-item;
  padding: 6px 18px 6px 5px;
  font-style: normal;
  background: transparent;
}

.exhibit-section-nav > li.current > a,
.exhibit-section-nav > li > a:hover,
#exhibit-pages > li.current > a,
#exhibit-pages > li > a:hover {
  position: relative;
  color: white;
  background: #999;
  -webkit-box-shadow: 2px 1px 5px rgba(0,0,0,0.15);
     -moz-box-shadow: 2px 1px 5px rgba(0,0,0,0.15);
          box-shadow: 2px 1px 5px rgba(0,0,0,0.15);
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

exhibit-page-nav li a:link {
  color: #666;
}

.exhibit-page-nav a:link,
.exhibit-page-nav a:visited,
#exhibit-pages ul li a:link,
#exhibit-pages ul li a:visited {
  padding: 6px 0;
  color: #333;
  line-height: 1.5em;
  background: transparent;
}

.exhibit-section-nav > li.current > a:after,
.exhibit-section-nav > li > a:hover:after,
#exhibit-pages > li.current > a:after,
#exhibit-pages > li > a:hover:after {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: -10px;
  content: ' ';
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
          border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
          border-bottom-right-radius: 15px;
  background-color: #999;
}

.gallery-full-left .secondary img,
.gallery-full-right .secondary img {
  width: auto;
  height: auto; /* override inline */
  min-width: 100px;
  max-width: 100px;
}

.image-list-right-thumbs .exhibit-item img {
  width: auto;
}

.exhibit-page-nav li.current > a,
.exhibit-page-nav li.current > a:hover,
#exhibit-pages ul li.current > a,
#exhibit-pages ul li.current > a:hover {
  font-weight: bold;
  color: black;
}

.exhibit-page-nav li > a:hover,
#exhibit-pages ul li > a:hover {
  color: #A4B4CA;
}

#content #nav-container + h2,
#content #nav-container + h2 + div,
#summary-view {
  float: right;
  width: 662px;
  padding-right: 18px;
}

#exhibit.summary #exhibit-sections p {
  margin-left: 18px;
}

.image-list-left .exhibit-item img,
.image-list-right .exhibit-item img {
  max-width: 100%;
}

a.download-file {
  display: block;
  width: 100%;
}

.exhibit-section-nav {
  padding: 0;
  font-size: 1.4em;
  border-bottom: 0;
}

#exhibit-pages {
  padding: 0;
  font-size: 1.4em;
  border-bottom: 0;
}

#exhibit-pages ul {
  width: auto;
  margin-left: 32px;
  padding-left: 18px;
  font-size: 0.85em;
  line-height: 0.85;
  list-style-image: url("../images/list-image.png");
}

.exhibit-page-nav {
  width: auto;
  padding-left: 18px;
  font-size: 0.85em;
  line-height: 0.85;
}

.exhibit-page-nav li {
  border-top: 1px solid white;
  border-bottom: 1px solid #DADADA;
}

.exhibit-page-nav li:first-child,
#exhibit-pages ul li:first-child {
  border-top: none;
}

.exhibit-page-nav li:last-child,
#exhibit-pages ul li:last-child {
  border-bottom: none;
}

.exhibit-page-nav li a:before {
  /*content: "\00BB \0020 ";;
  color: #CCC;
  font-weight: normal;
  position: relative;
  left: -9px;*/
}

body#exhibit.show .exhibit-text p,
body#exhibit.summary #primary p {
  text-align: left; /* override screen.css */
}

body#exhibit.show .exhibit-text p a[href] {
  padding: 0;
}

#exhibit.show #primary > *,
#exhibit.summary #primary > * {
  position: relative;
  top: -29px;
}

#exhibit.show .exhibit-item img:hover {
  zoom: 1;
  opacity: 0.9;

  filter: alpha(opacity = 90);
}

.exhibit-item-caption {
  font-style: inherit;
  color: #777;
}

.gallery-full-left .primary {
  margin-left: 0;
}

.gallery-full-right .primary {
  margin-right: 0;
}

.primary .exhibit-item .download-file {
  float: none;
}

.exhibit-item .download-file img {
  border: 1px solid #EDEDED;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.gallery-full-right .secondary img,
.gallery-full-left .secondary img,
.primary .exhibit-item img,
.show div.fullsize img,
body.item #item-images .square_thumbnail img,
.gallery-narrative .secondary img {
  margin-right: 10px;
  border: 1px solid #EDEDED;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

body#exhibit.show .exhibit-text p {
  clear: left;
  width: auto;
}

.gallery-full-left .secondary .exhibit-item {
  float: left;
  width: 45%;
  margin-right: 0;
  margin-left: 10px;
}

.gallery-thumbnails .exhibit-item {
  display: inline-block;
  float: none;
  margin-right: 1.7%;
  zoom: 1;
  vertical-align: top;

  *display: inline;
}

#exhibit-page-navigation {
  clear: right;
  width: auto;
  margin-left: 238px; /* match sidebar */
  padding-top: 1em;
  border-top: 1px dotted #EDEDED;
}

#exhibit-page-navigation a,
.item-pagination a {
  width: auto;
  padding: 7px 10px;
  font-size: 120%;
  color: #345477;
  -webkit-transition: color 0.3s ease-in-out;
     -moz-transition: color 0.3s ease-in-out;
       -o-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
  text-decoration: none;
  text-transform: lowercase;
}

#exhibit-page-navigation a.next-page {
  float: right;
}

.gallery-thumbnails + #exhibit-page-navigation a {
  margin-left: 0;
}

#items.show .item-pagination {
  clear: none;
  width: 570px;
  border: none;
}

.item-pagination a {
  width: 40%;
  font-size: 100%;
}

.item-pagination #next-item a:after {
  content: "  \2192";
}

.item-pagination #previous-item a:before {
  content: "\2190  ";
}

#exhibit-page-navigation a:hover,
.item-pagination a:hover {
  color: #4976A7;
}

#exhibit-page-navigation a + a {
  float: right;
}

/* CUSTOM LAYOUT SETTINGS */

.gallery-full-left .secondary .exhibit-text {
  clear: both;
  padding-top: 1em;
}

/*= ITEM VIEW */

body#items #content > h1 {
  width: 48%;
}

#items.show #content > h1,
#items.show #content > h1,
#exhibit.browse #content h1,
#exhibit.tags #content h1,
#items.browse #content h1,
#items.tags #content h1,
#timelines #content h1,
body#home #content #primary h2,
body.error404 h1 {
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
  font-weight: bold;
  color: #555;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

body#items.show .fullsize img {
  max-width: 530px;
  max-height: 350px;
}

#items.show .element-set > div h2,
#sidebar .element h2 {
  padding-right: 0.5em;
  padding-bottom: 10px;
  font-family: "Myriad Pro", Arial, Helvetica, Tahoma, sans-serif;
  font-size: 130%;
  font-weight: bold;
  color: #424B53;
  line-height: 1;
}

#items.show .element-set > div h2:after {
  content: ": ";
}

#items.show .element-set > div h2 + div,
#items.show .element-set > div h2 {
  display: inline;
}

#items.show .showcase-content {
  background-color: transparent;
}

#items.show .showcase-caption {
  position: static;
  padding-top: 18px;
}

#items.show #primary {
  float: none;
  width: 100%;
  overflow: visible;
}

#primary #item-images,
#primary .element-set,
#primary .item-pagination,
#primary #slideshow,
#primary #item-video {
  float: left;
  width: 650px;
}

#primary #item-audio,
#primary #sidebar {
  float: right;
  width: 220px;
  margin-left: 18px;
}

#primary #item-audio {
  width: 251px;
}

#item-audio + #sidebar {
  clear: both;
}

body.show.item #sidebar {
  margin-top: 0;
  overflow: visible;
  font-size: 90%;
  word-wrap: break-word;
}

#sidebar .element {
  overflow: visible;
}

#sidebar #dublin-core-date h2 {
  position: relative;
  font-weight: normal;
}

#sidebar #dublin-core-creator + #dublin-core-date h2 {
  top: -1.5em;
}

#sidebar #dublin-core-creator h2:before,
#items.browse .item .item-creator p:before {
  position: relative;
  padding-right: 2px;
  font-size: 90%;
  font-weight: bold;
  font-style: oblique;
  color: #A8B7CC;
  content: "by ";
}

#sidebar #item-citation h2,
#sidebar #collection h2 {
  margin-top: 2em;
  padding-bottom: 5px;
}

#sidebar > a,
#exhibit-page-navigation a,
#timeline-exhibit a {
  position: relative;
  left: 0;
  /* Animated Link */
  padding: 5px 15px 5px 25px;
  overflow: visible;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
      -ms-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 5px;
  background-color: #F3F3F3;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

#sidebar > a:before {
  position: absolute;
  width: 0;
  height: 0;
  top: 0.6em;
  left: 1em;
  content: '';
  border-top: 5px solid transparent;
  border-right: 5px solid #686868;
  border-bottom: 5px solid transparent;
}

#sidebar > a:hover,
#exhibit-page-navigation a.previous-page:hover {
  left: -20px;
  color: inherit;
  background-color: #DFD69B;
}

#exhibit-page-navigation a.next-page:hover {
  left: 20px;
  z-index: 5000;
  color: inherit;
  background-color: #DFD69B;
}

/* => Centering the Image */

body.item #item-images {
  color: #999;
  text-align: center;
}

.show div.fullsize img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 20px rgba(40,0,40,0.2);
}

body.item #item-images .fullsize img:hover {
  zoom: 1;
  opacity: 0.9;

  filter: alpha(opacity = 90);
}

/*=Manage Item Page Thumbnails :
 *  If only 1 image, hides the thumb by applying the "last-child" style. If more than one image, the specificity
 *  of the "general sibling" will override the "last-child" display declaration
*/

body.item #item-images .file-metadata {
  padding: 0.3em 0;
  font-size: 12px;
}

body.item #item-images .square_thumbnail {
  display: inline-block;
  margin-top: 0.6em;
  padding: 0 0.4em;
  padding-left: 0.8em;
  zoom: 1;
  text-align: center;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
          border-bottom-left-radius: 4px;
  background: #F3F3F3;

  *display: inline;
}

body.item #item-images .square_thumbnail ~ .square_thumbnail {
  display: inline-block;
  padding-left: 0.4em;
  zoom: 1;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
          border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
          border-bottom-left-radius: 0;

  *display: inline;
}

body.item #item-images > div:last-child {
  display: none;
  padding-right: 0.8em;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
          border-bottom-right-radius: 4px;
}

/**** TEMP - OVERRIDE FOR TESTING LAYERZOOM ****/

body.layerzoom #item-images div:last-child {
  display: block;
  padding-right: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

/**** END TEMP - OVERRIDE FOR TESTING LAYERZOOM ****/

body.item #item-images .square_thumbnail img {
  display: block;
  float: none;
  width: 40px;
  height: 40px;
  margin: 6px 10px;
  zoom: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
     -moz-transition: opacity 0.3s ease-in-out;
       -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
  opacity: 0.5;

  filter: alpha(opacity = 50);
}

body.item #item-images .square_thumbnail img:hover,
body.item #item-images .current img {
  zoom: 1;
  cursor: pointer;
  opacity: 1;

  filter: alpha(opacity = 100);
}

/*=JQuery Loupe - zoom in on images  */

.loupe {
  z-index: 5000;
  cursor: url(../images/layout/blank.png), url(../images/layout/blank.cur), none;
  border: 5px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0.25);
  background-color: #555;
}

.loupe.disabled {
  display: none !important;
}

#slideshow .button-wrap {
  width: 120px; /* sets size of slideshow button */
  margin: 0 auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#open-slideshow a {
  text-align: center;
}

/*=MDCollapse */

.md-wrap,
.button-wrap {
  position: relative;
  padding: 5px 15px;
  overflow: visible;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 5px;
  background-color: #F3F3F3;
}

.md-wrap .element h3,
.mdwrap .element-text {
  background-color: #F3F3F3;
}

.md-toggle {
  position: absolute;
  width: 48px;
  height: 20px;
  top: 4px;
  right: 5px;
  line-height: 20px;
}

.md-toggle + div {
  padding-top: 15px;
}

.md-wrap span {
  font-style: italic;
  color: #666666;
  line-height: 20px;
}

.button {
  height: 20px;
  line-height: 20px;
  background: url(../images/layout/button.jpg) no-repeat top left;
}

.button a {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: white;
  line-height: 1.9;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  background: url(../images/layout/button_cap.jpg) no-repeat top right;
  background-color: red;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

.button:hover {
  font-weight: bold;
  opacity: 0.8;

  filter: alpha(opacity=80);
}

/*=404 */

body.error404 #content h1 {
  padding-bottom: 0.4em;
}

body.error404 #content {
  background: url(../images/layout/browse-bg.gif) repeat-x top #F3F3F3;
}

body.error404 div.errorPreview {
  float: left;
  width: 40%;
  margin: 5%;
  margin-top: 2%;
}

body.error404 div.errorPreview h2 {
  padding: 0.6em 0;
  font-family: inherit;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 0.08em;
  text-transform: none;
  border-bottom: 1px solid #DDD;
}

body.error404 #recent-items ul li.item,
body.error404 #recent-exhibits ul li.item {
  margin: 0;
  line-height: 1.5;
  border-top: 1px solid white;
  border-bottom: 1px solid #DADADA;
}

body.error404 #recent-items ul li.item a,
body.error404 #recent-exhibits ul li.item a {
  display: block;
  padding: 0.6em 0;
  text-decoration: none;
}

body.error404 #recent-items ul li.item a:hover,
body.error404 #recent-exhibits ul li.item a:hover {
  color: #5A99DE;
}

/*=FOOTER */

#footer {
  margin: 0 auto;
  padding: 18px;
  border: none;
}

#content h1.header01,
#content h1.header02,
#content h1.header03 {
  background-image: url('../images/layout/headers/default01.png');
}



/*=HEADER */

#logo,
#primary-nav {
  display: inline-block;
  vertical-align: top;
  font-size: 1.5em;
}

#logo {
  width: 45%;
  padding: 0 7px;
}

#logo a {
  display: block;
  float: left;
  height: 60px;
  padding: 15px 7px;
  line-height: 105px;
}

#logo a:focus {
  outline: 0;
}

#logo a:focus img {
  outline: 0.15em solid #999;
}

#logo img {
  padding: 5px;
}

#primary-nav {
  width: 52%;
  text-align: right;
}

#primary-nav ul {
  margin: 35px 0;
}

#primary-nav li {
  display: inline-block;
  margin: 0 0.2em;
}

#primary-nav a {
  padding: 0.4em 0.5em 0.3em 0.5em;
  font-weight: bold;
  color: #244C7E;
  border-left: 0.2em solid transparent;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.75);
}

#primary-nav .active a {
  border-left: 0.2em solid #9AB0CD;
  background-color: #C6D4E5;
}

#primary-nav a:focus,
#primary-nav a:hover {
  background-color: #E0EBF9;
}

#primary-nav .active a:hover,
#primary-nav .active a:focus {
  border-left: 0.2em solid #C2D1EA;
}
