/* Omeka MLibrary Theme - Extends Deco */

/** TABLE OF CONTENTS

  1.  =MAIN LAYOUT
  2.  =SEARCH
  3.  =BROWSE EXHIBITS

 **/

 /*div.layout-file-text .right ~ p {
  float:left;
  width:48%;
 }

div.layout-file-text .left ~ p {
  float:right;
  width:48%;
}*/

.layout-file-text .exhibit-items.right {
  margin-bottom: 1.2em;
  margin-left: 4%;
}

.layout-file-text .exhibit-items.left {
  margin-bottom: 1.2em;
  margin-right: 4%;
}

div.layout-file-text .right.fullsize ~ p {
  float:left;
  width:56%;
}

div.layout-file-text .left.fullsize ~ p {
  float:right;
  width:56%;
}

.layout-file-text .right.thumbnail {
 max-width: 27%;
}

.layout-file-text .left.thumbnail {
 max-width: 27%;
}

 div.layout-file-text .right.thumbnail ~ p {
  float:left;
  width:70%;
 }

div.layout-file-text .left.thumbnail ~ p {
  float:right;
  width:70%;
}

div.layout-file-text .left.square_thumbnail ~ p{
    float: right;
    width: 70%;
}

div.layout-file-text .right.square_thumbnail ~ p{
    float: left;
    width: 70%;
}

.layout-file-text .exhibit-items.right.square_thumbnail {
    margin-bottom: 2%;
    max-width: 27%;
    float: right;
}

.layout-file-text .exhibit-items.left.square_thumbnail {
    margin-bottom: 2%;
    max-width: 27%;
    float: left;
}

/**Openseadragon**/
.openseadragon-help {
  padding: 1.5em 30px;
  margin: 0 auto 2em;
  max-width: 575px;
  background-color: #EEE;
}

.openseadragon-help * {
  text-align: left;
  margin-bottom: 0.2em;
}

.openseadragon-help dt {
  padding-right: 0.75em;
  font-weight: bold;
}

.openseadragon-help dt:after {
  content: ':';
}

.openseadragon-canvas {
  background-color: #EEE; !important;
}

.openseadragon-canvas:after {
  content: " ";
  display: block;
  border: 5px solid #EEE;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.openseadragon-canvas:focus:after {
  border-color: #244C7E;
}

.exhibit-block {
    clear: both;
   /* margin-bottom: 4em;*/
}

.exhibit-body-wrap .exhibit-item-caption p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
/* A class used for hiding */
.element-invisible {
  position: absolute !important;
  clip: rect(1px .1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  margin: 0 !important;
}

/*.layout-file-text .exhibit-items.right {
    float: right;
   max-width: 48%;
   margin-bottom:2%;

}*/

.layout-file-text .exhibit-items.right.thumbnail {
    float: right;
   max-width: 27%;
   margin-bottom:2%;
}

.layout-gallery .gallery-showcase.right, .layout-gallery .gallery.right {
    float: right;
    margin-left: 1%;
}

.layout-gallery .gallery-showcase.left, .layout-gallery .gallery.left {
    float: left;
    margin-right: 1%;
}

.layout-gallery .gallery-showcase.right.with-left {
   margin-left: 3%;
   width:47%;
}

.layout-gallery .gallery-showcase.left.with-right {
    margin-right: 3%;
    width:47%
}

/*.layout-file-text .exhibit-items.left {
    float: left;
    margin-left: 0%;
    max-width:48%;
    margin-bottom: 2%;
} */

.pagination input[type="text"] {
  width: 35px;
  margin-right: 1px;
  padding-right: 1px !important;
  padding-left: 1px !important;
  text-align: right;
  border-width: 0.063em;
  border-style: solid;
}

#timelines.browse #times .time .timeline-description {
  float: left;
  width: 700px;
  padding: 7px;
  line-height: 1.5em;
}

#times .time > img {
  float: left;
  width: 91px;
  height: 100px;
  padding: 7px;
}

#timelines.browse #primary {
  float: left;
  margin-right: 30px;
}

#timelines.browse #times {
  min-height: 538px;
}

#timelines.browse #times .time.first {
  float: left;
  margin-top: 0;
  padding-top: 37px;
  border-top-width: 0;
  background: none repeat scroll 0 0 transparent;
}

#timelines.browse #times .time {
  float: left;
  margin: 0;
  padding: 2em 0;
  border: medium none;
  background: url("../images/layout/browse-border.gif") repeat-x scroll center top transparent;
}

#exhibit.summary .gallery-thumbnail .exhibit-item {
  display: inline-block;
}

.layout-gallery .gallery.with-showcase .exhibit-item img {
  max-width: 75%;
  border: 2px solid #CCC;
  box-shadow: none;
  margin-right: 3em;
}

.gallery-thumbnail img {
  width: 100px;
}

#tab {
  width: 100%;
  margin: 0 0 1em;
  padding: 10px 0;
  text-align: center;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

#tab li {
  display: inline-block;
  width: 40%;
  margin: 0 4%;
  zoom: 1;
}

.FileCaption {
  text-align: center;
}

.Metadata #creator,
.Metadata #date {
  margin: 0.8em 0 0.8em 4em;
  font-weight: normal;
  position: relative;
  line-height: 1.3em;
}

.Metadata #date:before {
  content: "date ";
}

.Metadata #creator:before,
.Metadata #date:before {
   color: inherit;
  position: absolute;
  font-weight: bold;
  font-style: italic;
  font-size: 90%;
  position: absolute;
  right: 100%;
  padding-right: 0.5em;
}

/*= NICOLAS GALLAGHER 's micro-clearfix */

.cf:before,
.cf:after {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/*=MAIN LAYOUT */

body {
  font-family: "Myriad Pro", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 11px; /* Fallback for IE, straight pixel value prevents user scaling on some browsers */
  font-size: 68.75%; /* 0.6875 = 11 / 16 */
}

.wrap {
  position: relative;
  width: 960px; /* Enlarge Deco's default width */
  margin: 0 auto;
  z-index: 500;
}

#exhibit.show .exhibit-text a[href] {
  padding: 7px 10px;
  /* Styles for Main Links => Copy This to other Links! */
  color: #345477;
  -webkit-transition: color 0.3s ease-in-out;
     -moz-transition: color 0.3s ease-in-out;
       -o-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
}

#exhibit.show .exhibit-text a[href]:hover {
  color: #4976A7;
}

#content {
  background-color: #96A7B7;
}

#content .wrap {
  padding: 18px;
}

/*=HOME PAGE */

#home #content .wrap {
  padding: 0;
  width: 960px;
}

#home #primary {
  position: relative;
  border-top: 4px solid #C0C0C0;
}

#home-header-wrap {
  position: relative;
  padding-bottom: 2em;
}

body#home #content h1 {
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}

body#home #greeting {
  width: 410px;
  padding: 5em 0 6em 30px;
}

body#home #content #primary #greeting h2 {
  padding-bottom: 0;
  font-size: 3em;
  color: #777;
  border: 0;
  line-height: 1em;
  text-shadow: -2px 2px #CCC;
}

body#home #greeting h2 span {
  position: relative;
  left: -3px; /* visually align first letters */
  font-size: 2em;
  color: #597DAD;
  line-height: 1.2em;
}

body#home #greeting p {
  font-size: 1.6em;
  margin: 0.5em 0 0 0;
  color: #5F5F5F;
}

body#home #greeting p a {
  color: #324F7D;
  -webkit-transition: color 0 0.07s, border-color 0 0.07s;
     -moz-transition: color 0 0.07s, border-color 0 0.07s;
       -o-transition: color 0 0.07s, border-color 0 0.07s;
          transition: color 0 0.07s, border-color 0 0.07s;
  text-decoration: none;
  border-bottom: 0.1em solid;
}

body#home #greeting p a:hover {
  color: #5A99DE;
  border-color: #FFF;
}

body#home #greeting ul li {
  height: 20px;
  margin: 1em 0;
  line-height: 20px;
}

body#home #greeting ul li img {
  position: relative;
  top: -2px;
  margin-right: 0.7em;
  vertical-align: middle;
}

body#home #greeting ul li a {
  font-weight: bold;
}

/*= FEATURED EXHIBIT */

#featured-exhibit-wrap {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: 460px;
  right: 0;
  text-align: center;
}

body#home #content #primary #featured-exhibit-wrap h2 {
  color: #FFF;
  background-color: #444;
  text-align: left;
  height: 15%;
  font-size: 2.3em;
  padding-left: 0.5em;
  text-shadow: -2px 2px 0 #333;
}

/* Pseudo Element to help with vertical centering */
#featured-exhibit-wrap h2:before {
  content: " ";
  display: inline-block;
  height: 105%; /* Greater than 100% because "Featured Exhibit" has no descenders */
  width: 1%;
  vertical-align: middle;
}

#featured-exhibit-wrap .figure-wrap {
  display: block;
  text-align: center;
  height: 85%;
  background-color: #595959;
  color: #000;
  font-size: 3em;
}

#featured-exhibit-wrap figure {
  vertical-align: middle;
  margin: 0;
  position: relative;
  background-color: #333;
  max-height: 100%;
  overflow: hidden;
}

#featured-exhibit-wrap .portrait figure {
  position: static;
  display: block;
  height: 100%;
}

#featured-exhibit-wrap .landscape figure {
  width: 100%;
  display: inline-block;
}

/* Pseudo Element to help with vertical centering */
#featured-exhibit-wrap .landscape:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#featured-exhibit-wrap .no-image figure {
  width: 100%;
  height: 100%;
}

#featured-exhibit-wrap figcaption {
  position: absolute;
  bottom: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  padding: 1em;
  text-align: left;
  font-size: 0.5em;
}

#featured-exhibit-wrap figcaption span {
  border-bottom: 0.1em solid transparent;
  padding-bottom: 0.1em;
  color: #FFF;
  line-height: 1.5em;
}

#featured-exhibit-wrap a:hover figcaption span {
  border-bottom-color: #FFF;
}

#featured-exhibit-wrap img {
  /*display: block;*/
  max-width: 100%;
  max-height: 100%;
}


/*=RECENT EXHIBITS AND PRETTY LISTS */

#exhibit.browse #primary {
  font-size: 1em;
}

.pretty-list {
  background-color: #EEE;
  margin-left: -18px;
  width: 996px;
}

#home .pretty-list {
  margin: 0;
  width: auto;
}

.pretty-list > * {
  border-bottom: 4px solid #C0C0C0;
}

.pretty-list .button-wrap {
  text-align: center;
  padding: 2em 0;
}

.pretty-list .item-list-heading {
  padding: 0 30px;
  font-size: 3em;
  line-height: 2.2em;
  color: #666;
  text-shadow: -2px 2px 0 #CCC;
}

.pretty-list > *:first-child {
  border-top: 4px solid #C0C0C0;
}

.pretty-list .pagination {
  display: block;
  text-align: center;
  padding: 1em;
  margin: 0;
  font-size: 1.5em;
}

.pretty-list article {
  min-height: 180px;
  padding: 20px 30px;
  overflow: hidden;
  position: relative;
}

.pretty-list .no_image {
  min-height: 0;
}

.pretty-list .item-body,
.pretty-list .tags {
  display: inline-block;
  vertical-align: top;
}

.pretty-list .item-body {
  width: 51%;
  margin: 0 3% 0 22%;
  font-size: 1.4em;
  color: #555;
}

.pretty-list .no_tags .item-body {
  width: 70%;
}

.pretty-list .tags-heading,
.pretty-list .tags a {
  color: #6A6A6A;
}

.pretty-list .item-heading,
.pretty-list .tags-heading {
  margin: 0;
  font-size: 1.3em;
}

.pretty-list .item-heading {
  font-size: 1.4em;
  line-height: 1.5em;
}

.pretty-list .item-heading a {
  border-bottom: 0.05em solid #999;
  padding-bottom: 0.1em;
}

.pretty-list .item-heading a:hover {
  border-bottom-color: transparent;
}

.pretty-list .tags {
  width: 21%;
  font-size: 1.35em;
}

.pretty-list .tags a {
  display: block;
  margin-top: 0.5em;
}

.pretty-list .item-description {
  margin: 0.7em 0 0 0;
}

.pretty-list .img-wrap {
  text-align: right;
  height: 180px;
  width: 18%;
  position: absolute;
  left: 30px;
  top: 20px;
}

.pretty-list img {
  max-width: 100%;
  max-height: 100%;
}

.pretty-list dl {
  font-size: 1em;
  margin-top: 1em;
}

.pretty-list dt {
  font-weight: bold;
}

.pretty-list dd {
  margin-left: 0.5em;
}

#exhibit.browse h1,
#items.browse h1 {
  background-color: #fff;
  padding: 1em;
  margin: 0;
}

#exhibit.browse .wrap,
#items.browse .wrap {
  background-color: transparent;
  width: 995px;
  padding: 0;
}

#exhibit.browse .pretty-list,
#items.browse .pretty-list {
  margin-left: 0;
  width: auto;
}

/*BROWSE EXHIBITS */

#content .wrap {
  min-height: 700px; /* TEMP - adjust for lack of content */
}

#exhibit.show #primary,
#exhibit.summary #primary {
  margin-top: 186px;
  position: relative;
}

#content h1 {
  margin-bottom: 1em;
}

#exhibit.summary h1,
#exhibit.show h1 {
  position: absolute;
  height: 200px;
  top: -204px;
  left: -18px;
  right: -18px;
  margin-bottom: 1.5em;
  padding: 0;
  border-bottom: 4px solid #C0C0C0;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

#exhibit.summary h1 a,
#exhibit.show h1 a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

#content h1.default {
  background-image: url(../images/layout/default-header.jpg);
}

#content h1.default span,
#content h1.header01 span,
#content h1.header03 span,
#content h1.header02 span {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 35px;
  max-width: 800px;
  margin: 0;
  padding: 8px 20px;
  font-family: "Myriad Pro",Helvetica,Tahoma,Arial,sans-serif;
  font-size: 60%;
  color: #000;
  white-space: pre-wrap;
  background-color: #FFF;
  box-shadow: -4px 4px #333;
  box-shadow: -4px 4px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  border: 1px solid #C0C0C0;
  text-align: left;
}

#secondary-nav {
  padding: 0;
  border-color: #DCDCDC;
  border-bottom: none;
}

#secondary-nav li {
  padding: 0;
}

#secondary-nav li a {
  display: inline-block;
  position: relative;
  top: 1px;
  padding: 0 1em;
  zoom: 1;
  border: 1px solid #ECECEC;
  border: none;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
          border-top-right-radius: 4px;
  background-color: transparent;

  *display: inline;
}

#secondary-nav li a:hover {
  border-bottom: none;
  background-color: #ECECEC;
  background-color: rgba(0,0,0,0.03);
}

#secondary-nav li.current a {
  zoom: 1;
  opacity: 1;
  border: 1px solid #ECECEC;
  border-bottom: 1px solid #F3F3F3;
  background-color: #F3F3F3;

  filter: alpha(opacity = 100);
}

#featured-ribbon {
  position: absolute;
  width: 180px;
  height: 26px;
  bottom: 18px;
  margin-left: 140px;
  background: url(../images/layout/featured-ribbon.png) no-repeat;
}

/*=EXHIBIT SUMMARY */

.exhibit-body-wrap {
  overflow: hidden;
}

#exhibit.summary .exhibit_image,
#exhibit.summary #summary-sidebar {
  float: right;
  width: 48%;
  margin-right: 18px;
}

#exhibit.summary .exhibit_image {
  margin-right: 0;
  text-align: center;
}

#exhibits .exhibit_image {
  float: left;
  width: 262px;
  margin-left: 18px;
  text-align: center;
}

#exhibit.summary .exhibit_image {
  margin-left: 0;
}

#exhibit.summary .exhibit_image img,
#exhibit.summary .exhibit_image iframe {
  margin-bottom: 0.8em;
}

#exhibits .exhibit_image img {
  max-width: 262px;
  max-height: 262px;
  border: 1px solid #EDEDED;
}

#exhibit.summary .exhibit_image img {
  max-width: 100%;
  max-height: 300px;
  border: 1px solid #EDEDED;
}

#exhibit.summary #exhibit-sections {
  clear: both;
  border-top: 0 dotted  #C0C0C0;
}

#exhibit.summary #summary-sidebar + #exhibit-sections {
  clear: both;
  padding-top: 1em;
  border-top: 1px dotted  #C0C0C0;
}

#exhibit-sections h3 {
  margin: 0.3em 0;
}

#exhibit-sections h3 a,
#items.browse .item h2 a {
  font-family: "Myriad Pro", Helvetica, Tahoma, Arial, sans-serif;
  color: #324F7D;
  -webkit-transition: color 0.3s ease-in-out;
     -moz-transition: color 0.3s ease-in-out;
       -o-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
}

#exhibit-sections h3 a:hover,
#items.browse .item h2 a:hover {
  color: #4976A7;
}

/*=SHARE THIS*/

.sharethis-wrap {
  margin: -1.5em -18px 1em 0;
  text-align: right;
}

#items .sharethis-wrap {
  margin-top: -18px;
}

#sharethis {
  background-color: #C0C0C0;
  padding: 1em;
  display: inline-block;
  position: relative;
  z-index: 500;
  color: #222;
}

#sharethis > span {
  padding-right: 1em;
  font-size: 1.1em;
  vertical-align: middle;
}

#sharethis div,
#sharethis iframe {
  display: inline-block;
  vertical-align: middle;
}

/*=EXHIBIT NAVIGATION */

#exhibit #primary {
  font-size: 1.2em;
}

.exhibit-navigation {
  width: 275px;
  background-color: #EEE;
  float: left;
  margin: 0 25px 0 -18px;
}

#exhibit-pages ul {
  margin: 0 1em 1em 1em;
  padding: 0;
  font-size: 0.95em;
}

#exhibit-pages .current ul {
  padding: 1em;
  margin: 0;
  background-color: #D7D7D7;
}

#exhibit-pages li {
  margin-bottom: 0;
  padding: 0;
}

#exhibit .exhibit-navigation a {
  padding: 15px;
  z-index: 100;
  position: relative;
}

.exhibit-navigation #exhibit-pages ul a {
  display: inline-block;
  padding: 0.25em;
}

.exhibit-navigation #exhibit-pages .current ul a {
  color: #222;
}

#exhibit .exhibit-overview a,
#exhibit-pages > li > a {
  font-weight: bold;
  text-decoration: none;
  display: block;
  color: #555;
}

#exhibit .exhibit-overview a,
#exhibit-pages > li > a {
  border-top: 4px solid #C4C4C4;
  margin: -4px 0 0 0;
}

#exhibit .exhibit-overview.active a,
#exhibit-pages > li.current > a {
  background-color: #C4C4C4;
  width: 245px;
  padding-right: 25px;
  z-index: 99;
  color: #222;
}

#exhibit-pages .current .current a {
  font-weight: bold;
}

.gallery-full-left .secondary img,
.gallery-full-right .secondary img {
  width: auto;
  height: auto; /* override inline */
  min-width: 100px;
  max-width: 100px;

}

.image-list-right-thumbs .exhibit-item img {
  width: auto;
}

.exhibit-content {
  margin-left: 285px;
  padding-top: 1.5em;
}

#exhibit.summary #exhibit-sections p {
  margin-left: 18px;
}

.image-list-left .exhibit-item img,
.image-list-right .exhibit-item img {
  max-width: 100%;
}

a.download-file {
  display: block;
  width: 100%;
}

.exhibit-section-nav {
  padding: 0;
  font-size: 1.4em;
  border-bottom: 0;
}

#exhibit-pages {
  padding: 0;
  border-bottom: 0;
  margin-bottom: 0;
}

.exhibit-overview {
  font-size: 1.2em;
}

.exhibit-page-nav {
  width: auto;
  padding-left: 18px;
  font-size: 0.85em;
  line-height: 0.85;
}

.exhibit-page-nav li {
  border-top: 1px solid white;
  border-bottom: 1px solid #DADADA;
}

body#exhibit.show .exhibit-text p,
body#exhibit.summary #primary p {
  text-align: left; /* override screen.css */
}

body#exhibit.show .exhibit-text p a[href] {
  padding: 0;
}

#exhibit.show .exhibit-item img:hover {
  zoom: 1;
  opacity: 0.9;
  filter: alpha(opacity = 90);
}

#exhibit.show h2 {
  margin: 1em 0;
}

.exhibit-item-caption {
  font-style: inherit;
  color: #777;
}

.gallery-full-left .primary {
  margin-left: 0;
}

.gallery-full-right .primary {
  margin-right: 0;
}

.primary .exhibit-item .download-file {
  float: none;
}

.exhibit-item .download-file img {
  border: 1px solid #EDEDED;
}

.gallery-full-right .secondary img,
.gallery-full-left .secondary img,
.primary .exhibit-item img,
.show div.fullsize img,
body.item #item-images .square_thumbnail img,
.gallery-narrative .secondary img {
  margin-right: 10px;
  border: 1px solid #EDEDED;
}

body#exhibit.show .exhibit-text p {
  clear: left;
  width: auto;
  margin-bottom: 0.5em;
}

.gallery-full-left .secondary .exhibit-item {
  width: 45%;
  margin-right: 0;
  margin-left: 10px;
}

.gallery-thumbnails .exhibit-item {
  display: inline-block;
  float: none;
  margin-right: 1.7%;
  zoom: 1;
  vertical-align: top;

  *display: inline;
}

#exhibit-page-navigation {
  clear: none;
  overflow: hidden;
  width: 98%;
  padding: 1%;
}

#exhibit-page-navigation a {
  font-size: 1.3em;
  text-decoration: none;
  padding: 0.5em 1em;
  background-color: #666;
  color: #FFF;
  display: inline-block;
}

#exhibit-page-navigation a:hover,
#exhibit-page-navigation a:focus {
  outline: 0.2em solid #333;
}

#exhibit-page-navigation .next-page {
  float: right;
}

.image-text-group {
  margin-top: 2em;
}

/* CUSTOM LAYOUT SETTINGS */

.gallery-full-left .secondary .exhibit-text {
  clear: both;
  padding-top: 1em;
}

/*= ITEM VIEW */

#items #item-metadata,
#items #sidebar {
  padding: 3%;
  background-color: #EEE;
}

#items #item-metadata {
  margin-right: 35%;
}

#items #sidebar {
  width: 22%;
  float: right;
}

#items.show h1 {
  font-size: 2.6em;
  text-align: center;
}

#items .item-back-button {
  margin: 0 0 2.5em 0;
}

#items .exhibit-item-back-button {
  margin: 0 0 2.5em 0;
}

#items #item-images {
  text-align: center;
  margin-bottom: 4em;
}

#items #fsize_images {
  margin-bottom: 1em;
}

#items .square_thumbnail {
  display: inline-block;
}

.record-metadata-list {
  margin: 0;
}

.record-metadata-list dt {
  font-size: 1.6em;
  font-family: GillSansRegular, "Gill Sans MT", "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.record-metadata-list dd {
  font-size: 1.4em;
  margin: 0.5em 0 0 0.7em;
  line-height: 1.4em;
}

.record-metadata-list * + dt {
  margin-top: 1em;
}

.record-metadata-list .tags a {
  display: block;
}

/*=JQuery Loupe - zoom in on images  */

.loupe {
  z-index: 5000;
  cursor: url(../images/layout/blank.png), url(../images/layout/blank.cur), none;
  border: 5px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0.25);
  background-color: #555;
}

.loupe.disabled {
  display: none !important;
}

#slideshow .button-wrap {
  width: 120px; /* sets size of slideshow button */
  margin: 0 auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#open-slideshow a {
  text-align: center;
}

/*=MDCollapse */

.md-wrap {
  position: relative;
  padding: 5px 15px;
  overflow: visible;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 5px;
  background-color: #F3F3F3;
}

.md-wrap .element h3,
.mdwrap .element-text {
  background-color: #F3F3F3;
}

.md-toggle {
  position: absolute;
  width: 48px;
  height: 20px;
  top: 4px;
  right: 5px;
  line-height: 20px;
}

.md-toggle + div {
  padding-top: 15px;
}

.md-wrap span {
  font-style: italic;
  color: #666666;
  line-height: 20px;
}

.button a {
  font-size: 1.3em;
  text-decoration: none;
  padding: 0.4em 1em 0.3em 1em;
  background-color: #666;
  color: #FFF;
  display: inline-block;
}

.button a:hover,
.button a:focus {
  outline: 0.2em solid #333;
}

#tab .button a {
  font-size: 1em;
}

/*=404 */

.error-page main {
  margin: 6em auto;
  width: 500px;
}

.error-page h1 {
  text-align: center;
}

.error-page main p {
  font-size: 1.4em
}

/*=FOOTER */

#footer {
  margin: 0 auto;
  padding: 18px;
  border: none;
}

#footer-content {
  margin: 0 auto;
  padding: 1em;
  width: 900px;
  text-align: center;
  font-size: 1.2em;
}

#content h1.header01,
#content h1.header02,
#content h1.header03 {
  background-image: url('../images/layout/headers/default01.png');
}

/*=HEADER */

#logo,
#primary-nav {
  display: inline-block;
  font-size: 1.5em;
  vertical-align: top;
}

#logo {
  width: 45%;
  padding: 0 7px;
}

#logo a {
  display: block;
  float: left;
  height: 60px;
  padding: 15px 7px;
  line-height: 105px;
}

#logo a:focus {
  outline: 0;
}

#logo a:focus img {
  outline: 0.15em solid #999;
}

#logo img {
  padding: 5px;
}

#primary-nav {
  width: 52%;
  text-align: right;
}

#primary-nav ul {
  margin: 35px 0;
}

#primary-nav li {
  display: inline-block;
  margin: 0 0.2em;
}

#primary-nav a {
  padding: 0.4em 0.5em 0.3em 0.5em;
  font-weight: bold;
  color: #244C7E;
  border-left: 0.2em solid transparent;
  text-shadow: -1px 1px #FFF;
  text-shadow: -1px 1px rgba(255, 255, 255, 0.6);
}

#primary-nav .active a {
  border-left: 0.2em solid #9AB0CD;
  background-color: #C6D4E5;
}

#primary-nav a:focus,
#primary-nav a:hover {
  -webkit-transition: background-color 0.1s 0.05s, border-color 0.1s 0.05s;
     -moz-transition: background-color 0.1s 0.05s, border-color 0.1s 0.05s;
       -o-transition: background-color 0.1s 0.05s, border-color 0.1s 0.05s;
          transition: background-color 0.1s 0.05s, border-color 0.1s 0.05s;
  background-color: #C6D4E5;
}

#primary-nav .active a:hover,
#primary-nav .active a:focus {
  border-left: 0.2em solid #C2D1EA;
  background-color: #E0EBF9;
}
