@charset "UTF-8";

@import "reset.css";

/* CSS Document */
/*
Grid: 846px wide, 12 columns at 54px each, 11 gutters at 18px each.
1 = 54px
2 = 126px (6 columns)
3 = 198px (4 columns)
4 = 270px (3 columns)
5 = 342px
6 = 414px (2 columns)
7 = 486px
8 = 558px
9 = 630px
10 = 702px
11 = 774px
12 = 846px
*/

/* == Generic == */
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  font: 62.5% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #96A7B7;
}

body > header {
  background-color: #F6F6F6;
}

/* -- Headings -- */
h1,
h2,
h3 {
  font-family: GillSansRegular, "Gill Sans MT", "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  color: #333;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 2.4em;
  line-height: 1em;
  letter-spacing: 0.1em;
}

h2 {
  margin-bottom: 0;
  font-size: 1.8em;
  line-height: 2em;
}

h3 {
  margin: 0 0 1.2em;
  font-size: 1.5em;
  line-height: 1.2em;
}

h4 {
  margin-bottom: 1.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}

h5 {
  margin-bottom: 1.5em;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
}

h1 a,
h2 a,
h3 a {
  color: #333;
  text-decoration: none;
}

img a {
  border: none;
}

/* -- Misc Block elements -- */
p {
  margin-bottom: 1.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}

ul {
  margin-bottom: 1.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}

ol {
  margin-bottom: 1.5em;
  font-size: 1.2em;
  line-height: 1.5em;
  list-style: decimal inside;
}

dl {
  margin-bottom: 1.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* -- Misc Inline elements -- */
em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: 700;
}

abbr,
acronym {
  font-style: normal;
  border: none;
}

/* -- Links -- */
a:link {
  color: #555;
}

a:visited {
  color: #555;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #333;
}

/* Navigation Classes*/
.navigation {
  list-style: none;
}

.navigation li {
  display: inline;
}

.navigation a {
  text-decoration: none;
}

/* Pagination Classes */
.pagination {
  display: inline;
  padding-left: 0;
  line-height: 21px;
  list-style-type: none;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
  padding: 8px 15px;
  background: #CCC;
}

.pagination a {
  text-decoration: none;
}

.pagination > :last-child {
  padding-bottom: 0.375em;
}

/* Items Classes*/

.element-text {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.5em;
}

.element-text p {
  margin: 0;
  font-size: 1em;
  text-align: justify;
}

.element-text-empty {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.5em;
}

.browse .item {
  margin-bottom: 18px;
  padding-bottom: 18px;
  overflow: hidden;
  zoom: 1;
  border-bottom: 1px dotted #CCC;
}

.browse .item h2 {
  float: left;
  width: 198px;
  margin-right: 18px;
}

.browse .item img {
  float: right;
  width: 198px;
  height: 198px;
}

.browse .item-description {
  float: left;
  width: 414px;
}

.item-pagination {
  clear: both;
  padding: 2em 1% 1% 1%;
  overflow: hidden;
}

.item-pagination a {
  float: left;
  font-weight: 400;
  text-decoration: none;
}

.item-pagination .next a {
  float: right;
  text-align: right;
}

.item-tags {
  clear: left;
  margin-left: 216px;
}

body#items.show .square_thumbnail img {
  display: inline-block;
  vertical-align: top;
  width: 8em;
  height: 8em;
  margin-right: 18px;
}

body#items.show .fullsize img {
  max-width: 620px;
  max-height: 500px;
}

/*MyOmeka Classes*/
#myomeka-posters {
  float: right;
  clear: left;
  width: 207px;
  padding-left: 23px;
  border-left: 1px dotted #CCC;
}

#myomeka-create-poster {
  width: 150px;
  margin: 20px 0;
  text-align: right;
}

#myomeka-noted-items {
  width: 600px;
  margin-bottom: 10px;
  padding: 10px 0;
  border-top: 1px solid #CCC;
}

.myomeka-noted-items-list {
  float: left;
  min-height: 285px;
}

.myomeka-noted-items-list ul li {
  float: left;
  width: 180px;
  padding-right: 15px;
}

.myomeka-noted-items-list ul li img {
  max-width: 160px;
  max-height: 90px;
}

#myomeka-tags {
  clear: both;
  width: 600px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #CCC;
}

h3.poster-title {
  clear: both;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top: 17px;
}

#myomeka-poster-info {
  margin-bottom: 17px;
  padding: 7px;
  text-align: center;
  background: #F2F2F2;
}

#myomeka-poster .myomeka-poster-item {
  float: left;
  clear: both;
  width: 400px;
}

#myomeka-poster .myomeka-poster-item h3 {
  margin: 0;
}

#myomeka-poster .myomeka-poster-item .myomeka-poster-item-annotation p {
  margin-top: 7px;
  margin-left: 130px;
}

#myomeka-poster .myomeka-poster-item a img {
  float: right;
  max-width: 120px;
  max-height: 120px;
  margin-top: 27px;
  margin-bottom: 10px;
  padding: 0 0 5px 10px;
}

#myomeka-disclaimer {
  clear: both;
  margin-top: 17px;
  padding: 7px;
  text-align: center;
  background: #F2F2F2;
}

form#myomeka-poster-form {
  text-align: left;
}

/* MyOmeka Classes for items/show */
body#items.show #myomeka-add-notes #myomeka-edit-note form#myomeka-note-form textarea#note {
  width: 250px;
  height: 250px;
}

body#items.show #myomeka-add-notes,
#myomeka-add-tags {
  float: left;
  width: 280px;
  min-height: 400px;
  margin: 10px 0;
  padding: 10px;
  background: #F2F2F2;
}

body#items.show a.myomeka-help-link,
body#items.show a.dashboard-link {
  display: inline;
  min-width: 30px;
  padding: 5px 10px;
}

body#items.show #myomeka-tags {
  width: auto;
  border-top: none;
}

/* Exhibits Classes */
.exhibit {
  border-bottom: 1px dotted #CCC;
}

.exhibit-item-caption {
  clear: both;
  max-width: 350px;
  font-size: smaller;
  font-style: italic;
}

.exhibit-section-nav {
  margin-bottom: 2em;
  padding: 0.3em;
  border-bottom: 1.5em solid #CCC;
}

.exhibit-section-nav li {
  display: block;
  padding: 0.5em 0;
  font-weight: 400;
}

#exhibit-pages a {
  padding: 0.5em 1em;
  text-decoration: none;
  line-height: 1.3em;
}

#exhibit-pages li a.current {
  font-weight: 400;
  color: #333;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #CCC;
  background: #FFF;
}

.exhibit-page-nav {
  width: 215px;
  overflow: hidden;
  font-weight: 400;
  color: #FFF;
}

/* Changed by Jianqi */
.exhibit-page-nav li {
  display: inline;
  margin-right: 2px;
  color: #FAFAFA;
}

.exhibit-page-nav a:link,
.exhibit-page-nav a:visited {
  padding: 6px 8px;
  color: #FAFAFA;
  text-decoration: none;
  background: #333;
}

.exhibit-page-nav .current a {
  color: #FFF;
  background: #999;
}

.exhibit-page-nav a:hover {
  color: #FAFAFA;
  background: #999;
}

.exhibit-page-nav a:active {
  padding: 6px 8px;
  color: #FFF;
  text-decoration: none;
}

/* Additional Exhibit Builder fixes (probably incomplete) */
body#exhibit.show .exhibit-text p {
  text-align: justify;
}

body#exhibit.summary #primary p {
  text-align: justify;
}

.gallery-full-right .exhibit-text p {
  width: 400px;
}

.gallery-full-right .secondary img {
  height: 200px;
  min-width: 200px;
  max-width: 200px;
}

.gallery-full-right .primary .exhibit-item {
  margin-bottom: 18px;
}

.gallery-full-right .primary {
  margin-right: 10px;
}

.gallery-full-right .primary img {
  width: 400px;
}

.gallery-full-left .exhibit-text p {
  width: 400px;
}

.gallery-full-left .secondary img {
  height: 200px;
  min-width: 200px;
  max-width: 200px;
}

.gallery-full-left .primary .exhibit-item {
  margin-bottom: 18px;
}

.gallery-full-left .primary {
  margin-left: 10px;
}

.gallery-full-left .primary img {
  width: 400px;
  height: auto;
}

.image-list-left .exhibit-item img {
  height: auto;
  max-width: 400px;
}

.image-list-right .exhibit-item img {
  height: auto;
  max-width: 400px;
}

.image-list-left-thumbs .exhibit-item img {
  height: auto;
}

.image-list-right-thumbs .exhibit-item img {
  height: auto;
}

.text-image-left .exhibit-item {
  width: 360px;
  margin: 0 18px 18px 0;
}

.text-image-left .exhibit-item img {
  width: 350px;
  height: auto;
}

.text-image-right .exhibit-item {
  width: 360px;
  height: auto;
  margin: 0 0 18px 18px;
}

.text-image-right .exhibit-item img {
  width: 350px;
  height: auto;
}

/* == Wrap == */
.wrap {
  width: 882px;
  margin: 0 auto;
}

#content .wrap {
  background-color: #FFF;
}

#home .wrap {
  background-color: transparent;
}

#home #primary {
  background-color: #FFF;
}

/* == Header == */
#header {
  margin: 10px 0;
  text-align: center;
}

#site-title {
  margin: 0;
  padding: 3px 18px;
  font-family: GillSansRegular, "Gill Sans MT", "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0.2em;
  opacity: 0.9;
  -moz-border-radius: 3px;
       border-radius: 3px;
  background: #FFF;
  -webkit-box-shadow: 0 0 3px #333;
     -moz-box-shadow: 0 0 3px #333;
          box-shadow: 0 0 3px #333;

  filter: alpha(opacity=90);
}

#site-title a {
  color: #555;
  text-decoration: none;
}

#site-title a:hover {
  color: #555;
  text-decoration: none;
}

#site-title a:visited {
  color: #555;
  text-decoration: none;
}

#site-title .tagline {
  padding-bottom: 10px;
  font-size: 0.5em;
  color: #555;
  line-height: 0.5em;
}

#site-title h2 {
  font-size: 4em;
  font-weight: 400;
  line-height: 1em;
}

#search-container {
  float: right;
  clear: none;
  width: 210px;
  height: 37px;
  margin-bottom: 4px;
  padding: 0;
  text-align: right;
}

form#simple-search {
  margin: 0 0 4px;
}

#search-container h2 {
  display: none;
}

#search-container input {
  padding: 3px;
  border: 1px solid #CCC;
  background: #FAFAFA;
}

#search-container input.textinput:focus {
  background: #FFF;
}

#search-container #submit_search {
  margin-left: 3px;
  padding: 2px;
  font-size: 1em;
  color: #FFF;
  border: 1px solid #CCC;
  background: #555;
}

ul#secondary-nav.navigation {
  width: 100%;
}

/* == Content == */
/* Structure */

#secondary-nav {
  margin-bottom: 2em;
  padding: 0.3em;
  border-bottom: 1.5em solid #CCC;
}

#secondary-nav li {
  padding: 0.5em 0;
}

#secondary-nav a {
  padding: 1em;
  color: #666;
}

#secondary-nav li.current a {
  font-weight: 400;
  color: #333;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #CCC;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
          border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
          border-top-right-radius: 4px;
  background: #FFF;
}

.item-description a.show {
  display: inline;
  padding-left: 5px;
}

/* Home Page */

#home #secondary {
  float: right;
  width: 174px;
  padding-left: 13px;
  border-left: 1px dotted #CCC;
}

#featured-collection {
  margin-bottom: 17px;
}

#index-collection-img img {
  width: 145px;
  height: 145px;
  margin-right: 10px;
}

#featured-item {
  height: 440px;
  margin-bottom: 34px;
  overflow: hidden;
  zoom: 1;
  border-bottom: 1px solid #CCC;
}

#recent-items .item {
  margin-bottom: 18px;
  overflow: hidden;
  zoom: 1;
  border-bottom: 1px solid #CCC;
}

#recent-items .item img {
  float: right;
  width: 80px;
  height: 80px;
  margin-bottom: 18px;
  margin-left: 18px;
  padding: 2px;
  border: 1px solid #CCC;
}

#recent-items .items-list {
  clear: both;
}

#featured-exhibit {
  margin-bottom: 34px;
}

.item-description {
  margin-bottom: 17px;
  font-size: 1.2em;
  line-height: 1.5em;
}

.item-description p {
  font-size: 1em;
}

#site-description {
  margin: 0 17px 34px 0;
  padding: 13px;
  text-align: justify;
  border: 1px solid #CCC;
  background: #EAEAEA;
}

body#home #content #site-description h3 {
  clear: both;
  padding-bottom: 9px;
  color: #555;
  line-height: 1em;
  text-align: left;
}

body#home #content #primary #site-description h2 {
  margin-left: -35px;
}

body#home #content #top h2 {
  margin-right: -18px;
  margin-left: -18px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 18px;
}

#items.show h3 {
  margin: 0;
}

body#home #content .items-list h3 {
  margin-bottom: 0.5em;
  line-height: 1.5em;
  border-bottom: 3px solid #D3D3D3;
}

/* Items Pages */
a.edit-button {
  position: fixed;
  bottom: 18px;
  left: 0;
  padding: 0 10px 0 13px;
  z-index: 990;
  font-size: 1.2em;
  font-weight: lighter;
  text-align: right;
  text-decoration: none;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background: #FFF;
  -webkit-box-shadow: 2px 1px 3px #333;
     -moz-box-shadow: 2px 1px 3px #333;
          box-shadow: 2px 1px 3px #333;
}

body.show #sidebar a.download-file {
  float: left;
  margin: 0;
  overflow: hidden;
}

body.show #item-image img {
  max-width: 620px;
}

ul.title-list {
  margin: 0;
}

.title-list li {
  font-size: 1.2em;
  font-weight: lighter;
  font-style: italic;
  line-height: 1.5em;
}

a.download-file {
  display: inline;
  float: left;
  margin: 0 3px 3px 0;
}

#item-images {
  margin-bottom: 18px;
  overflow: hidden;
}

#item-images-thumbs {
  margin: 18px 0 18px -18px;
}

/* Search Results */
#primary form .field {
  clear: both;
  margin-bottom: 1.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}

#primary form .field label {
  display: block;
  float: left;
  margin-right: 5px;
}

input#featured,
input#public {
  display: block;
  float: left;
}

#primary form #submit_search {
  float: left;
  clear: both;
  margin-top: 10px;
}

/* Contribution */
body.contribution label {
  float: left;
  width: 100%;
  margin: 10px 0 3px;
  font-size: 9pt;
}

body.contribution div.wrap div#content div#primary form fieldset#contribution-confirm-submit div.inputs label {
  float: none;
  width: auto;
}

body.contribution div.wrap div#content div#primary form fieldset#contribution-confirm-submit div.inputs label {
  float: none;
  width: auto;
}

body.contribution div.wrap div#content div#primary form fieldset#contribution-confirm-submit p {
  margin: 15px 0 0;
}

body.contribution div.wrap div#content div#primary form fieldset#contribution-confirm-submit input#form-submit.submitinput {
  margin-top: 15px;
}

body.contribution div.wrap div#content div#primary form fieldset#contribution-contributor-metadata legend {
  padding: 3px 0;
  font-size: 2em;
  color: #555;
}

/* Collections Pages */
.collection {
  border-bottom: 1px dotted #CCC;
}

#collection-items img {
  display: inline;
  float: left;
  clear: none;
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

p.view-items-link {
  margin-top: 5px;
  text-align: center;
}

#collectors .element-text ul li p {
  font-size: 0.9em;
  color: #333;
}

/* == Footer == */
#footer {
  /*by Jianqi*/
  /*original*/
  clear: both;
  bottom: 30px;
  margin-top: 10px;
  padding: 10px;
  overflow: hidden;
  zoom: 1;
  font-weight: 400;
  color: #EAEAEA;
  border-top: 1px solid #CCC;
}

#footer a {
  color: #FAFAFA;
  text-decoration: none;
}

#footer a:hover {
  color: #EAEAEA;
}

#footer .navigation li {
  display: inline;
}

#footer .navigation a {
  margin-right: 8px;
}
