/* Custom MLibrary Exhibits Theme Styles */
.exhibit-block.layout-double-image .exhibit-items {
    vertical-align: top;
    float: left;
    width: 45%;
    padding: 10px 10px 0px 10px !important
}

.exhibit-block.layout-double-image::after{
display: table;
clear: both;
content: "";
}

.feature-banner-image {
  width: 100%;
  height: auto;
}

.exhibit.record {
  display: inline-block;
}

.site-heading ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  vertical-align: baseline;
}

.search-panel {
  padding: .75em 0;
  background: #e6f3ff;
  border-bottom: 2px solid #cce6ff;
}

.search-box {
  display: flex;
  justify-content: center;
  flex-wrap: row;
}

.search-button {
  margin-left: 1em;
}

input#query.form-control {
  margin-right: .5em;
}

#header-claim-holder h1, #header-claim-holder p {
  color: #fff;
  text-align: center;
}

div.site-header {
background: #00274c;
}

.logo-link {
  height: 2.5rem;
  display: inline-block;
vertical-align: top;
}

.logo-list {
  list-style: none;
}

.site-header-container a {
  color: #fff;
  font-size: 1.5em;
}

.site-heading li {
  margin: 0;
}

ul.site-header-nav-list li {
  margin: 0;
  display: inline-block;
}

ul.site-header-nav-list {
  list-style: none;
}

ul.site-header-nav-list a {
  font-size: 1em;
}

.site-header-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

main#content {
  background-color: #f2f2f2;
  padding-bottom: 2em;
}

/** Breadcrumbs + Share This **/

ol.breadcrumb {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

li.breadcrumb-item {
  color: #333;
  padding-left: 0;
}

li.breadcrumb-item a,
#simple-pages-breadcrumbs a  {
  color: #333;
}

.breadcrumb > .active {
  color: #333;
  font-weight: bold;
}

.breadcrumb > li + li::before {
  content: "\003e";
  padding: 0 5px;
  color: #ccc;
}

ul.share-this {
  margin-left: 0;
  text-align: right;
}

ul.share-this > li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

a.twitter-share-button {
  padding-left: .25em;
}

a.twitter-share-button:after {
    background: url("../images/twitter-i.png") no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
}

/** Exhibit Navigation **/

.exhibit-navigation h3 {
  font-size: 1.5em;
}

.exhibit-nav-list {
  list-style: none;
  margin: 0;
  padding-right: .25em;
  font-size: 1.2em;
}

.exhibit-nav-list-items {
  padding: .2em 0;
  margin: 0;
  color: #6E6E6E;
}

.exhibit-nav-list-sub {
  list-style: none;
  margin: 0;
  padding-right: .25em;
  font-size: 1em;
}

div.exhibit-overview.active {
  color: #126DC1;
  border-left: 4px solid #126DC1;
  padding-left: .25em;
}

.exhibit-overview {
  padding-left: 0;
}

div.browse-index {
  padding-top: 2em;
  text-align: center;
}

.browse-btn a {
  color: #fff;
}

.detail-nav-border {
  border-bottom: 2px solid #CCCCCC;
  margin-bottom: 1em;
}

.detail-nav ul {
  list-style: none;
  padding: 1.5em 0;
  margin: 0;
}

.detail-nav-heading {
  font-size: 1.25em;
  color: ;
}

.detail-nav li {
  padding: 0;
  margin: 0;
}

.detail-nav li a {
  text-decoration: underline;
}

.nav-text-inline-heading, .nav-text-inline-button  {
  display: inline-block;
}

.affix {
  top: 5px;
  z-index: 9999 !important;
  width: 250px;
  }

.affix-top {
  top: 0px;
}


/** Exhibit Card Panels **/

.exhibit-theme {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#exhibit-theme-item {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
  margin: .5em;
  width: calc(50% - 1em);
}

.panel-card-title {
  color: #333;
  margin: 0;
}

.panel-card-text {
  color: #6E6E6E;
  margin: 0;
  line-height: 1.4;
}
.panel-heading {
  padding: 0;
}

.image-card {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.panel-body {
  padding: 0 .5em .5em;
}

/** Exhibit Show/Summary Page **/

.exhibit-overview a {
  color: #6E6E6E;
}

.section-title--large {
  font-size: 1.85em;
}

.show-wrapper {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
  padding: 2em 3em;
}

.section-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 1em;
}

.section-nav-panel {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 1fr 2fr;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
  width: calc(50% - .5em);
  max-height: 7rem;
}

.section-nav-image {
  grid-column: 1 / 2 ;
  grid-row: 1 / 3;
  overflow: hidden;
}

.section-nav-image > .image-card {
  width: 100%;
  height: 100%;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}

.section-link-prev,
.section-link-next {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-left: 1em;
}

.section-nav-text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 1em;
}

.section-link-prev:before {
  content: url(https://www.lib.umich.edu/falafel/v0/icons/grey_1/arrow_left.svg);
  position: relative;
  top: 6px;
  display: inline-block;
}

.section-link-next:after {
  content: url(https://www.lib.umich.edu/falafel/v0/icons/grey_1/arrow_right.svg);
  position: relative;
  top: 6px;
  display: inline-block;
}

.section-title,
.section-caption {
  margin: 0;
}

.section-title {
  font-weight: bold;
  padding-top: .25em;
  font-size: 1.25em;
}

.section-caption {
  color: #6E6E6E;
}

/** Home Page Featured Panels **/

.index-exhibits-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.index-exhibits {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
  margin: .75em;
  width: calc(50% - 1.5em);
}

.index-featured-exhibit {
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
  margin: 1.25em .75em.75em;
  width: calc(100% - 1.5em);
}

.index-featured-exhibit .panel-heading  {
  position: relative;
  height: 27em;
  width: 100%;
  overflow: hidden;
}

.exhibit-theme .panel-heading {
  position: relative;
  height: 12em;
  width: 100%;
  overflow: hidden;
}

.index-exhibits .panel-heading  {
  position: relative;
  height: 13em;
  width: 100%;
  overflow: hidden;
}

.image-card {
   width: 100%;
   height: auto;
   overflow: hidden;
}

.index-featured-exhibit-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.index-exhibits .panel-body,
.index-featured-exhibit .panel-body {
    padding: 1em;
}

.index-exhibits h3.panel-card-title a, .index-featured-exhibit h3.panel-card-title a  {
  color: #3D3D3D;
}

/** Browse Page **/

.browse-wrap {
  padding: 1em 0;
}

.tag-cloud li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  font-weight: bold;
}

.btn-tags {
  color: #0C5292;
  font-weight: 600;
  background-color: #F2F9FF;
  border: 2px solid #CCE6FF;
  border-radius: 99px;
  padding: .5em;
}

.btn-tags:hover {
  background-color: #126DC1;
  border: 2px solid #126DC1;
  color: #fff;
  text-decoration: none;
}

.img-wrap img {
  max-width: 100%;
  height: auto;
}

h2.item-heading {
  margin-top: 0;
}

.item-heading a {
   color: #4E4E4E;
   text-decoration: underline;
}

p.item-description {
  color: #4E4E4E;
}

.tag-list {
  list-style: none;
  margin: 0;
}

.tag-list li {
  display: inline-block;
  padding: 1em .25em;
  margin: 0;
  font-weight: bold;
}

/** Footer **/

footer.site-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}
/** Utilities **/

.padding-0 {
  padding: 0;
}

/** Packaged Theme Files **/

body>.navbar {
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in
}

@media (min-width:768px) {
    body>.navbar-transparent {
        background-color: transparent
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        background-color: transparent!important
    }
}

.navbar-brand.onlytext{
    padding: 19.5px 15px;
}

.navbar-brand>img {
    display: inline;
    
}

#banner {
    min-height: 300px;
    border-bottom: none
}

.table-of-contents {
    margin-top: 1em
}


.page-header h1 {
    font-size: 4em
}

.bs-docs-section {
    margin-top: 6em
}

.bs-docs-section h1 {
    padding-top: 10px
}

.bs-component {
    position: relative
}

.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block
}

.bs-component .modal-dialog {
    width: 90%
}

.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px
}

#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700
}

.nav-tabs {
    margin-bottom: 15px
}

.progress {
    margin-bottom: 10px
}

.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center
}

.splash .logo {
    width: 160px
}

.splash h1 {
    font-size: 3em
}

.splash #social {
    margin: 2em 0
}

.splash .alert {
    margin: 2em 0
}

.section-tout {
    padding: 4em 0 3em;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #eaf1f1
}

.section-tout .fa {
    margin-right: .5em
}

.section-tout p {
    margin-bottom: 3em
}

.section-preview {
    padding: 4em 0 4em
}

.section-preview .preview {
    margin-bottom: 4em;
    background-color: #eaf1f1
}

.section-preview .preview .image {
    position: relative
}

.section-preview .preview .image:before {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    pointer-events: none
}

.section-preview .preview .options {
    padding: 1em 2em 2em;
    border: 1px solid rgba(0, 0, 0, .05);
    border-top: none;
    text-align: center
}

.section-preview .preview .options p {
    margin-bottom: 2em
}

.section-preview .dropdown-menu {
    text-align: left
}

.section-preview .lead {
    margin-bottom: 2em
}

.sponsor #carbonads {
    max-width: 240px;
    margin: 0 auto
}

.sponsor .carbon-text {
    display: block;
    margin-top: 1em;
    font-size: 12px
}

.sponsor .carbon-poweredby {
    float: right;
    margin-top: 1em;
    font-size: 10px
}

.navbar {
    margin-bottom: 0;
    border-radius:0;
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.page-header {
    margin-top:0;
    background-size:cover;
}

.header-row {
    padding-top:40px;
}

.bs-docs-section h1 {
    margin-top: 10px;
}

#sort-links-list {
    list-style: none;
    display: inline-block;
}

#sort-links-list li {
    display: inline-block;
 }

/** Media Queries **/

@media(min-width: 767px) and (max-width: 991px ) {
   .section-nav-panel {
  width: calc(100%);
  margin-top: .5em;
  }
}

@media (min-width: 768px) {
   .nav-text-inline-button {
    display: none;
  }
}

@media (max-width:767px) {
   .section-preview .image img {
        width: 100%
    }
    .splash {
        padding-top: 4em
    }
    .splash .logo {
        width: 100px
    }
    .splash h1 {
        font-size: 2em
    }
    #banner {
        text-align: center
    }

    ul.share-this {
      margin-left: 0;
      text-align: left;
  }

}

@media only screen and (max-width: 767px) {

	div#header-claim-holder .held, div#header-claim-holder p
	{
		max-width: 100%;
	}

  nav.site-header-nav {
    display: flex;
    margin: 0 auto;
    padding-bottom: .5em;
  }
  
  ul.site-header-nav-list {
    margin: 0;

  }
  li.exhibits-text {
    font-size: .75em;
  }
  .site-heading {
    padding-bottom: .5em;
    margin: 0 auto;
  }

  .index-exhibits {
  margin: .75em;
  width: calc(100% - 1.5em);
}

  .section-nav-panel {
  width: calc(100%);
  margin-top: .5em;
}

  #exhibit-theme-item {
    width: 100%;
  }

  .affix {
    position: static;
  }

  #search-form {
    width: 80%;
  }

 .search-form-group{
  display: flex;
  justify-content: space-around;
  margin: 0;
  }

  .search-button-text {
    display: none;
  }
}